name: listener_app
description: Flutter listener app for audio translation system.
publish_to: "none"
version: 0.1.0

environment:
  sdk: ">=3.4.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_secure_storage: any
  flutter_webrtc: any
  http: any
  mobile_scanner: any
  provider: any
  signalr_core: any

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: any

flutter:
  uses-material-design: true
  assets:
    - assets/
